main {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Estiliza a tabela do carrinho */
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f8a8a8;
}

th{
    background-color: #f8a8a8;
    font-weight: bold;
}

/*EStiliza o input de quantidade */
button.remover{
    background-color: #f8a8a8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


/*Estiliza o total final*/
.total-final{
    text-align: right;
    margin-top: 20px;
}

.total-final h3{
    margin: #333;
}

#total-final {
    color: #f8a8a8;
}

